.App {
  text-align: center;
  background-color: #F3E5AB;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  font-size: calc(10px + 2vmin);
  color: white;
  height: 60vh;
}

.App-footer {
  color: white;
}
